<!DOCTYPE html>
<html lang="de">
  {{> header}}
<body>
  {{> title }}
  {{> nav }}
  
  <div>
    <div class="bodyheader">
      <h2>Einstellungen</h2>      
    </div>
    <div class="generalcontent">

      <h2>Einstellung der Systems</h2>
      <form id="turniereinstellungenformular" action="/turnier/einstellungen" method="POST">
        <div class="actions">
          <button type="submit">Turnier-Einstellung speichern<span class="material-icons md-48" title="Turniereinstellungen speichern">save</span></button>
        </div>

        <div class="listeneintrag">
          <input type="radio" name="turniertyp" value="Randori" {{setChecked "Randori" turniertyp}}/><label>Randori-Turnier</label>
          <input type="radio" name="turniertyp" value="Standard" {{setChecked "Standard" turniertyp}}/><label>Standard-Turnier</label>
        </div>

        <div class="listeneintrag">
          <div class=""><label>Anzahl der Matten </label><input class="wd100" type="number" name="mattenanzahl" value="{{mattenanzahl}}"/></div>
        </div>

        <div class="listeneintrag">
          <input type="radio" name="wettkampfreihenfolge" value="Abwechselnd" {{setChecked "Abwechselnd" wettkampfreihenfolge}}/><label>Immer 2 Gruppen kämpfen abwechseln</label>
          <input type="radio" name="wettkampfreihenfolge" value="Alle" {{setChecked "Alle" wettkampfreihenfolge}}/><label>Es kämpfen je Durchgang alle Gruppen</label>
        </div>

      </form>
    </div>

    {{#if standardturnier}}
    <div class="generalcontent">
      <h2>Einstellung der Wettkampfgruppen</h2>
      <form id="kampfklassenformular" action="/turnier/einstellungen-wettkampf" method="POST">
      <div class="actions">
        <button type="submit">Wettkampfgruppen-Einstellung speichern<span class="material-icons md-48" title="Wettkampfgruppen speichern">save</span></button>
      </div>

      {{#each gewichtsklassengruppen}}
        <div class="kampfsystemklasse listeneintrag">
          <div class="listeneintrag-titel">{{gewichtsklasse.name}} {{altersKlasse}} {{gruppenGeschlecht}} ({{teilnehmer.length}} Teilnehmer)</div>
          <div class="kampsystemklasse-auswahlen">
          {{#each ../kampfsysteme as |name index|}}
            <input type="radio" name="{{../gruppenGeschlecht}}-{{../altersKlasse}}-{{../gewichtsklasse.gewicht}}" value="{{index}}" {{setChecked "pool6" index}}/><label>{{name}}</label>
          {{/each}}
          </div>
        </div>
      {{/each}}
      </form>
    </div>
    {{/if}}
  {{> footer}}
</body>
<script type="text/javascript">
</script>

</html>