<!DOCTYPE html>
<html lang="de">
  {{> header}}
<body>
  {{> title }}
  {{> nav }}
  
  <div>
    <div class="bodyheader">
      <h2>Gewichtsklassen</h2>
      <div class="{{istWarnung anzahlUnterschiedlich}}">Anzahl der Kämpfer insgesamt: {{anzahlwk}}</div>
      <div class="{{istWarnung anzahlUnterschiedlich}}">Anzahl der Kämpfer in Gruppen: {{anzahlwkInGroups}}</div>
    </div>

    <form id="gewichtsklassenzuordnungformular" action="/turnier/{{turnierid}}/gewichtsklassen" method="POST">
      <div class="navbar navbar_fixed">
          <ul class="nav-links links">
          <li><a href="#" onclick="renewGewichtsklassen(); return false;" ><span class="material-icons md-48 centered" title="Alle Gewichtsklassen neu zuordnen">autorenew</span> Alle Gewichtsklassen neu zuordnen</a></li>
          <li><a href="#" onclick="submitFormular(); return false;"><span class="material-icons md-48 centered" title="Gewichtsklassen-Zuordnung speichern">save</span> Zuordnungen speichern</a></li>
          </ul>
      </div>
      <div class="grid">

        {{#if standardturnier}}

          <h1>Frauen</h1>
          <div class="gewichtsklassen">
          {{#each gewichtsklassengruppenWeiblich}}
            <div class="generalcontent" id="gruppe_{{id}}" droppable=true>
              <div class="gewichtsklasse-meta">
                <div>{{altersKlasse}}</div>
                <div>{{formatNumber minGewicht}}kg - {{formatNumber maxGewicht}}kg</div>
              </div>
              <div class="gewichtsklasse-teilnehmer">
              {{#each teilnehmer}}
                <div class="listeneintrag justifycontent" id="teilnehmer_{{id}}" draggable=true>
                {{name}}<div class="gewichtsklasse-teilnehmer-meta"><span>{{verein.name}}</span><span class="gewicht">{{formatNumber gewicht}}kg</span><span>{{geschlecht}}</span></div>
                <input type="hidden" name="gruppen_teilnehmer" id="input_teilnehmer_{{id}}" value="gruppe_{{../id}}_teilnehmer_{{id}}"/>
                </div>
              {{/each}}
              </div>
            </div>
          {{/each}}
          </div>

          <h1>Männer</h1>
          <div class="gewichtsklassen">
          {{#each gewichtsklassengruppenMaennlich}}
            <div class="generalcontent" id="gruppe_{{id}}" droppable=true>
              <div class="gewichtsklasse-meta">
                <div>{{altersKlasse}}</div>
                <div>{{formatNumber minGewicht}}kg - {{formatNumber maxGewicht}}kg</div>
              </div>
              <div class="gewichtsklasse-teilnehmer">
              {{#each teilnehmer}}
                <div class="listeneintrag justifycontent" id="teilnehmer_{{id}}" draggable=true>
                {{name}}<div class="gewichtsklasse-teilnehmer-meta"><span>{{verein.name}}</span><span class="gewicht">{{gewicht}}kg</span><span>{{geschlecht}}</span></div>
                <input type="hidden" name="gruppen_teilnehmer" id="input_teilnehmer_{{id}}" value="gruppe_{{../id}}_teilnehmer_{{id}}"/>
                </div>
              {{/each}}
              </div>
            </div>
          {{/each}}
          </div>

        {{else}}

          <h1>Mädchen und Jungs</h1>
          {{#each gruppiertBeiAlter}}
            {{this.altersKlasse}} (Anzahl Kämpfer: {{this.anzahlTeilnehmer}})
            <div class="navbar navbar_fixed">
                <ul class="nav-links links">
                    <li><a href="#" type="button" onclick="renewGewichtsklasse( '{{this.altersKlasse}}' ); return false;" ><span class="material-icons md-48 centered" title="Einzelne Gewichtsklasse neu zuordnen">autorenew</span> Gewichtsklasse {{altersKlasse}} neu zuordnen</a></li>
                    <li><a href="/turnier/{{turnierid}}/gewichtsklassen/randori_printview_groups/{{this.altersKlasse}}" target="_blank" class=""><span class="material-icons md-48 centered" title="Druckansicht">print</span> Druckansicht {{altersKlasse}} Gruppen</a></li>
                    <li><a href="/turnier/{{turnierid}}/qrcodes/{{this.altersKlasse}}" target="_blank" class=""><span class="material-icons md-48 centered" title="QRCode">print</span> QR-Codes {{altersKlasse}}</a></li>
                </ul>
            </div>

            <div class="gewichtsklassen">
            {{#each gruppen}}
              <div class="generalcontent" id="gruppe_{{id}}" droppable=true>
                <div class="gewichtsklasse-meta">
                  <div>{{altersKlasse}}</div>
                  <div>{{name.get}}</div>
                  <div>{{formatNumber minGewicht}}kg - {{formatNumber maxGewicht}}kg</div>
                  <div>{{gewichtsklasse.name}}</div>
                </div>
              
                <div class="gewichtsklasse-teilnehmer">
                {{#each teilnehmer}}
                  <div class="listeneintrag justifycontent" id="teilnehmer_{{id}}" draggable=true>
                  {{name}}<div class="gewichtsklasse-teilnehmer-meta"><span>{{verein.name}}</span><span class="gewicht">{{formatNumber gewicht}}kg</span><span>{{geschlecht}}</span></div>
                  <input type="hidden" name="gruppen_teilnehmer" id="input_teilnehmer_{{id}}" value="gruppe_{{../id}}_teilnehmer_{{id}}"/>
                  </div>
                {{/each}}
                </div>
              </div>
            {{/each}}
            </div>

          {{/each}}

        {{/if}}
      </div>
    </form>
  </div>

  {{> footer}}
</body>
<script type="text/javascript">
  const draggableElements = document.querySelectorAll('[draggable=true]');
  draggableElements.forEach(draggable => {
    draggable.addEventListener('dragstart', drag);
  });

  const droppableElements = document.querySelectorAll('[droppable=true]');
  console.log("elements", droppableElements.length)
  droppableElements.forEach(droppable => {
    droppable.addEventListener('dragover', allowDrop);
    droppable.addEventListener('drop', drop);
  });

  let draggedElement = null;

  function drag(event) {
    const draggedElement = event.target;
    event.dataTransfer.setData('text/plain', draggedElement.id);
    event.dataTransfer.effectAllowed = 'move';
  };

  function allowDrop(event) {
    event.preventDefault();
    event.dataTransfer.dropEffect = 'move';
  };

  function drop(event) {
    event.preventDefault();
    const id = event.dataTransfer.getData('text/plain');
    const draggedElement = document.getElementById(id);
    const currentElement = event.target;
    const droppableElement = currentElement.closest('[droppable=true]');
    droppableElement.appendChild(draggedElement);
    document.getElementById("input_"+id).value = event.target.id + "_" + id;
  };

  const renewGewichtsklassen = async () => {
    var sicher = confirm("ACHTUNG\n\nHiermit werden alle bisherigen Zuordnung von Wettkämpfern in Gewichtsklassen und alle Wettkampf-Begegnungen gelöscht! \n\nSind sie sicher?");
    if (sicher) {
      fetch('/turnier/{{turnierid}}/gewichtsklassen-renew', { method: 'POST' })
      .then(() => window.location.href='gewichtsklassen')
    };
  };

  const renewGewichtsklasse = async (data) => {
    console.log(data);
    var sicher = confirm("ACHTUNG\n\nHiermit werden alle bisherigen Zuordnung von Wettkämpfern in dieser Gewichtsklasse und alle Wettkampf-Begegnungen gelöscht! \n\nSind sie sicher?");
    if (sicher) {
      fetch('/turnier/{{turnierid}}/gewichtsklasse-renew', { method: 'POST', body: data })
      .then(() => window.location.href='gewichtsklassen')
    };
  };

  const submitFormular = () => {
      document.getElementById('gewichtsklassenzuordnungformular').submit();
  }

</script>

</html>