<!DOCTYPE html>
<html lang="de">
<head>
  <title>Zeit</title>
  <link rel="stylesheet" href="/css/interface.css">
  <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>
<h2>Matte {{matte}} - Runde {{mattenrunde}}</h2>
<div class=""><h1>{{rundenCode}}</h1></div>
<div id="timer-container">
  <h1 id="timer-display" class=""></h1>
</div>
<div class="box">
  <h1>Kampfrichter</h1>

  <span class="freiraum"></span>

  <div class="qrcode">
    <img src="data:image/png;base64,{{imageWertungen}}" alt="QRCode Wettkampfwertung"/>
  </div>
</div>
<div>
  {{#each begegnungen}}
    <div class="listeneintrag vs"> {{akuellePaarung}}
      <div class="wettkaempfer name">
        <label class="{{wettkaempfer1.farbe.get}}">{{wettkaempfer1.name}}</label>
      </div>
      <div class="center">vs</div>
      <div class="wettkaempfer name">
        <label class="{{wettkaempfer2.farbe.get}}">{{wettkaempfer2.name}}</label>
      </div>
    </div>
  {{/each}}
</div>
<script src="/js/allgemein.js"></script>
<script>
  const socket = new WebSocket("/mattenanzeigews?matte=" +{{matte}} + "&type=zeit");
  socket.onmessage = function (event) {
    const command = event.data;
    if (command === "start") start();
    if (command === "stop") stop();
    if (command === "reset") reset();
  };

  const COUNTDOWN = {{kampfzeit}} * 1000; // Millisekunden
  init(COUNTDOWN);
</script>
</body>
</html>
