<!DOCTYPE html>
<html lang="de">
<head>
  <title>Judo-Turniersoftware</title>
  <link rel="stylesheet" href="/css/interface.css">
  <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>
<h1>Matte {{matte}} - Runde {{mattenrunde}}</h1>
<div id="timer-container">
  <h1 id="timer-display" class="centered-horizontal"></h1>
</div>
<div>
  {{#with begegnung}}
    <div class="listeneintrag vs"> {{akuellePaarung}}
      <div class="wettkaempfer name">
        <label class="WEISS">{{wettkaempfer1.name}}</label>
      </div>
      <div class="center">vs</div>
      <div class="wettkaempfer name">
        <label class="BLAU">{{wettkaempfer2.name}}</label>
      </div>
    </div>
  {{/with}}
</div>
<script>
  const COUNTDOWN = {{kampfzeit}} * 1000; // Millisekunden

  let countdownTime = COUNTDOWN;
  let totalTime = 0;
  let interval = null;
  let timerDisplay = document.getElementById('timer-display');

  const formatTime = (milliseconds) => {
    const totalSeconds = Math.floor(Math.abs(milliseconds) / 1000);
    const minutes = Math.floor(totalSeconds / 60);
    const seconds = totalSeconds % 60;
    const ms = Math.abs(milliseconds % 1000) / 10;
    return `${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
  }

  const updateTimer = () => {
    let time = formatTime(countdownTime);
    if (countdownTime >= 0) {
      timerDisplay.textContent = time;
    } else {
      timerDisplay.textContent = time;
      timerDisplay.classList.add('negative');
    }
    countdownTime -= 10;
    totalTime += 10;
  }

  function start() {
    if (!interval) {
      interval = setInterval(updateTimer, 10);
    }
  }

  function stop() {
    clearInterval(interval);
    interval = null;
  }

  function reset() {
    stop();
    totalTime = 0;
    countdownTime = COUNTDOWN;
    updateTimer();
  }

  const socket = new WebSocket("/mattenanzeigews?matte=" +{{matte}});

  socket.onmessage = function (event) {
    const command = event.data;
    if (command === "start") start();
    if (command === "stop") stop();
    if (command === "reset") reset();
  };

  updateTimer();
</script>
</body>
</html>
