<!DOCTYPE html>
<html lang="de">
<head>
  <title>Judo-Turniersoftware</title>
  <link rel="stylesheet" href="/css/interface.css">
  <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>
<h1>Matte {{matte}} - Runde {{mattenrunde}}</h1>
<div id="timer-container">
  <h1 id="timer-display" class="centered-horizontal"></h1>
</div>
<div>
  {{#each begegnungen}}
    <div class="listeneintrag vs"> {{akuellePaarung}}
      <div class="wettkaempfer name">
        <label class="{{wettkaempfer1.farbe.get}}">{{wettkaempfer1.name}}</label>
      </div>
      <div class="center">vs</div>
      <div class="wettkaempfer name">
        <label class="{{wettkaempfer2.farbe.get}}">{{wettkaempfer2.name}}</label>
      </div>
    </div>
  {{/each}}
</div>
<script src="/js/allgemein.js"></script>
<script>
  // Werte für matte und mattenrunde als JS-Variablen setzen
  const matte = "{{matte}}";
  const mattenrunde = "{{mattenrunde}}";
  // WebSocket-Initialisierung mit zentralem Reconnect und Zeitstand
  const url = "/mattenanzeigews?matte=" + matte;
  initWebSocket(url, function(command) {
    if (command === "start") start();
    if (command === "stop") stop();
    if (command === "reset") reset();
  });

  const COUNTDOWN = {{kampfzeit}} * 1000; // Millisekunden
  // Init jetzt mit matte und mattenrunde
  init(COUNTDOWN, matte, mattenrunde);
</script>
</body>
</html>
