<nav class="navbar no-print">
  <ul class="nav-links rechts">
      <li><a href="/turnier">Turniere</a></li>
      <li><a href="/logout">Logout</a></li>
  </ul>
  <ul class="nav-links rechts">
    <li><a href="/turnier/{{turnierid}}">Turnierübersicht</a></li>
    <li><a href="/turnier/{{turnierid}}/wettkaempfer">Liste der Wettkämpfer</a></li>
    <li><a href="/turnier/{{turnierid}}/gewichtsklassen">Liste der Gewichtsklassen</a></li>
    <li><a href="/turnier/{{turnierid}}/begegnungen">Begegnungen des Wettkampfs</a></li>
    <li><a href="/turnier/{{turnierid}}/einstellungen">Einstellungen</a></li>
  </ul>
</nav>
