<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
{{> title }}
{{> nav }}

<div>
  <div class="bodyheader">
    <h2>Software zur Durchführung von Judo-Turnieren</h2>
  </div>
</div>


<div class="generalcontent">
  {{#unless isloggedin}}
    <div class="login_button centered-horizontal">
      <md-filled-tonal-button type="button" id="loginbtn" class="" href="/oauth2/authorization/keycloak">Login</md-filled-tonal-button>
    </div>
    <md-divider></md-divider

    {{> softwareinfo}}
  {{else}}
    <div>
      <h1>Turniersoftware &#169;️ sinnix.de</h1>
    </div>

    <div>
      <h2>Sie sind angemeldet als <b>{{username}}</b></h2>
    </div>
    {{#if turniere}}
      <div class="">Deine Turniere:</div>
      <ul class="generalcontent">
        {{#turniere}}
          <li class="listeneintrag">
            <a href="/turnier/{{uuid}}">
              <div>{{name}}</div>
              <div>{{Ort}}</div>
              <div>{{Datum}}</div>
            </a>
          </li>
        {{/turniere}}
      </ul>
    {{else}}
      <div class="">Keine Turniere vorhanden</div>
    {{/if}}
  {{/unless}}
</div>

{{> footer}}
<script type="text/javascript">
</script>
</body>

</html>
