<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
{{> title }}
{{> nav }}

<div>
  <div class="bodyheader">
    <h2>Übersicht</h2>
  </div>
</div>

<div>
  <h1>Turnierdaten</h1>
  <div class="generalcontent">
    <ul class="info_maincontent">
      <li>
        <h1>{{turniername}}</h1>
      </li>
      <li>
        <div class="info_title">in</div>
        <div class="info_data">{{turnierort}}</div>
      </li>
      <li>
        <div class="info_title">am</div>
        <div class="info_data">{{formatDatum turnierdatum}}</div>
      </li>
      <li>
        <div class="info_title">Anzahl der Kämpfer</div>
        <div class="info_data">{{anzahlwk}}</div>
      </li>
      <li>
        <div class="info_title">Anzahl der Vereine</div>
        <div class="info_data">{{anzahlv}}</div>
      </li>
      <li>
        <div class="info_title">Turniermodus</div>
        <div class="info_data">{{turniertyp.bezeichnung}}</div>
      </li>
    </ul>
  </div>
</div>

<md-divider></md-divider>

<div class="generalcontent">
  <details>
    <summary>Daten exportieren</summary>
    <md-filled-button type="button" id="export_wk" href="/turnier/{{turnierid}}/export-wk" target="_blank">Wettkämpfer und Wertungen exportieren</md-filled-button>
  </details>

  <details>
    <summary>Daten importieren</summary>

    <div class="generalcontent">
      {{#if enableEditing}}
        <form action="/turnier/{{turnierid}}/uploadVerein" method="post" enctype="multipart/form-data">
          <div class="settingsrow">
            <label for="file">CSV-Datei mit den <b>Vereinen</b></label>
            <input type="file" id="fileVereine" name="fileVereine" required>
          </div>
          <span style="position: relative">
                  <md-outlined-button type="submit">Hochladen</md-outlined-button>
              </span>
        </form>
        <md-divider></md-divider>

        <form action="/turnier/{{turnierid}}/wettkaempfer/uploadWettkaempfer" method="post" enctype="multipart/form-data">
          <div class="settingsrow">
            <label for="file">CSV-Datei mit den <b>Wettkämpfern</b></label>
            <input type="file" id="fileWettkaempfer" name="fileWettkaempfer" required>
          </div>
          <span style="position: relative">
                  <md-outlined-button type="submit">Hochladen</md-outlined-button>
              </span>
        </form>
      {{/if}}
    </div>
  </details>
</div>




{{> footer}}
<script type="text/javascript">
</script>
</body>
</html>
