<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
{{> title }}

<div>
  <h1>Software des des 1.JC-Großkrotzenburg</h1>
</div>


<ul class="generalcontent">
  <div>
    <div class="bodyheader">
      <h2>Generelle Infos</h2>
      <div>Anzahl der Turniere: {{anzahlturniere}}</div>
      <div>Software-Version: {{software_version}} {{software_zeit}}</div>
    </div>
  </div>
  <md-divider></md-divider>
  {{#if enableEditing}}
    <h2>Turniere Verwaltung</h2>
    <div class="login_button">
      <md-filled-tonal-button type="button" id="openCreateTurnierDialog" class="">Turnier erstellen</md-filled-tonal-button>
    </div>
    <md-divider></md-divider>
  {{/if}}

  <h2>Nutzer Verwaltung</h2>

  {{#turniere}}
    <li class="listeneintrag">
      <div>
        <a href="/turnier/{{uuid}}">
          <h1><div>{{name}}</div></h1>
          <h2><div>{{ort}}</div></h2>
          <h2><div>{{datum}}</div></h2>
        </a>

        <md-divider></md-divider>

        <div class="">
          <h2>Nutzer verwalten</h2>
          {{#if enableEditing}}
            <div class="generalcontent">
              <form id="userForm_{{uuid}}" action="/turniere/{{uuid}}/benutzer" method="post">
                <ul class="wettkaempferliste generalcontent">
                  <li class="wettkaempferliste-wettkaempfer listeneintrag ">
                    <div class="listeneintrag-titel">Username</div>
                    <div>Name</div>
                    <div>Administrator</div>
                    <div>Kampfrichter</div>
                    <div>Zuschauer</div>
                    <div>anonym</div>
                    <div class="listeneintrag-titel">Turnier zugordnet</div>
                  </li>
                  {{#benutzerDtoList}}
                    <li class="wettkaempferliste-wettkaempfer listeneintrag">
                      <div class="listeneintrag-titel">{{username}}</div>
                      <div>{{name}}</div>
                      <div><input type="checkbox" disabled {{setChecked true istAdmin}}></div>
                      <div><input type="checkbox" disabled {{setChecked true istKampfrichter }}></div>
                      <div><input type="checkbox" disabled {{setChecked true istBeobachter }}></div>
                      <div><input type="checkbox" disabled {{setChecked true istAnonym}}></div>
                      <input type="hidden" name="[{{userid}}][userid]" value="{{userid}}">
                      <div><input type="checkbox" name="[{{userid}}][zugeordnetZuTurnier]" value="true" {{setChecked true turnierZugeordnet}}></div>
                    </li>
                  {{/benutzerDtoList}}
                </ul>
                <span style="position: relative">
                      <md-outlined-button type="button" onclick="submitForm('{{uuid}}')">Speichern</md-outlined-button>
                  </span>
              </form>
            </div>
          {{/if}}
        </div>
      </div>
    </li>
  {{/turniere}}
</ul>

<div id="dialogOverlay"></div>

<div id="">
  <md-dialog id="dialog1">
    <div slot="headline">
      Neues Turnier
    </div>
    <form slot="content" id="createturnierformular" action="/turniere" method="POST">
      <label for="id-name">Name:</label>
      <md-filled-text-field type="text" id="id-name" name="name"></md-filled-text-field>
      <label for="id-ort">Ort:</label>
      <md-filled-text-field type="text" id="id-ort" name="ort"></md-filled-text-field>
      <label for="id-datum">Datum:</label>
      <input type="date" id="id-datum" name="datum">
    </form>
    <div slot="actions">
      <md-text-button form="createturnierformular" id="dialogCancel">Abbrechen</md-text-button>
      <md-text-button form="createturnierformular" id="dialogOk">Erstellen</md-text-button>
    </div>
  </md-dialog>
</div>

{{> footer}}
<script type="text/javascript">

  const closeDialog = () => {
    document.getElementById("dialog1").close()
  };

  const submitForm = (turnierUUID) => {
    console.log("Speichere Turnier", turnierUUID);
    const form = document.getElementById('userForm_'+turnierUUID);
    const formData = new FormData(form);
    const jsonObject = {};

    formData.forEach((value, key) => {
      const keys = key.match(/[^[\]]+/g); // Erzeugt ein Array der Schlüssel
      console.log("Keys:", keys)
      keys.reduce((acc, cur, idx) => {
        acc[cur] = idx === keys.length - 1 ? value : acc[cur] || {};
        return acc[cur];
      }, jsonObject);
    });

    const json = JSON.stringify(jsonObject);
    fetch(form.getAttribute("action"), {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: json
    }).catch(error => {
      console.error('Error:', error)
    });
  }

  document.getElementById('openCreateTurnierDialog').addEventListener('click', function () {
    document.getElementById("dialog1").show()
  });

  document.getElementById('dialogOk').addEventListener('click', function () {
    var form = document.getElementById('createturnierformular');
    form.submit();
    closeDialog();
  });

  document.getElementById('dialogCancel').addEventListener('click', function () {
    closeDialog();
  });

</script>

</body>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
</style>
</html>
