<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
{{> title }}
{{> nav }}

<div>
  <div class="bodyheader">
    <h2>{{#if neuerEintrag}}Neuer Wettkämpfer{{else}}Editiere Wettkämpfer{{/if}}</h2>
  </div>
</div>

{{#if prevsuccess}}
  <div class="infomsg">Der vorheriger Wettkämpfer wurde erfolgreich angelegt. Kennung {{prevsuccess}}</div>
{{/if}}
{{#if preverror}}
  <div class="errormsg">Der vorheriger Wettkämpfer konnte nicht angelegt werden: {{preverror}}</div>
{{/if}}

<div class="generalcontent">
  <form action="/turnier/{{turnierid}}/wettkaempfer" method="POST">
    <input type="hidden" name="id" value="{{kaempfer.id}}"/>

    <div class="wettkaempfer name"><label>Name, Vorname</label><input class="wd300" autofocus type="string" name="name" value="{{kaempfer.name}}"/></div>

    <div class="wettkaempfer verein">
      <label>Verein</label>
      <select class="wd300" mode="config[mode]" name="vereinsid">
        {{#each vereine}}
          <option value="{{id}}" {{setSelected ../kaempfer.verein.id id}}/>
            {{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="wettkaempfer alter">
      <label>Altersklasse</label>
      {{#each altersklasse as |name index|}}
        <input type="radio" name="altersklasse" value="{{name}}" {{setChecked ../kaempfer.altersklasse name}}/>{{name.bezeichnung}}
      {{/each}}
    </div>

    <div class="wettkaempfer geschlecht">
      <label>Geschlecht</label>
      {{#each geschlechter as |name index|}}
        <input type="radio" name="geschlecht" value="{{name}}" {{setChecked ../kaempfer.geschlecht name}}/>{{name.bezeichnung}}
      {{/each}}
    </div>

    <div class="wettkaempfer gewicht"><label>Gewicht</label><input class="wd100" type="number" step="0.1" name="gewicht" value="{{kaempfer.gewicht}}"/></div>
    <div class="wettkaempfer checked"><label>geprüft</label><input class="wd100" type="checkbox" name="checked" {{setChecked true  kaempfer.checked}}/></div>

    <div class="wettkaempfer printed"><label>gedruckt</label><input class="wd100" type="checkbox" name="printed" {{setChecked true kaempfer.printed}}/></div>

    <input type="hidden" value="{{neuerEintrag}}" name="neuereintrag">

    <div class="nav_btn-container">
      <div class="">
        <md-filled-tonal-button type="button" href="/turnier/{{turnierid}}/wettkaempfer">
          Abbrechen
          <svg slot="icon" height="18" viewBox="0 -960 960 960" width="18" fill="#5f6368">
            <path
              d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
          </svg>
        </md-filled-tonal-button>
      </div>
      <div class="">
        <md-filled-button type="submit">
          Wettkämpfer eintragen
          <svg slot="icon" height="18" viewBox="0 -960 720 720" width="18" fill="#5f6368">
            <path
              d="m 720,-800 v 480 q 0,33 -23.5,56.5 Q 673,-240 640,-240 H 80 Q 47,-240 23.5,-263.5 0,-287 0,-320 V -880 Q 0,-913 23.5,-936.5 47,-960 80,-960 h 480 z m -80,34 -114,-114 H 80 v 560 h 560 z m -280,406 q 50,0 85,-35 35,-35 35,-85 0,-50 -35,-85 -35,-35 -85,-35 -50,0 -85,35 -35,35 -35,85 0,50 35,85 35,35 85,35 z M 120,-680 H 480 V -840 H 120 Z m -40,-86 v 446 -560 z"/>
          </svg>
        </md-filled-button>
      </div>
    </div>
  </form>
</div>

{{> footer}}
<script type="text/javascript">
</script>
</body>

</html>
