<!DOCTYPE html>
<html lang="de">
  <head>
  <title>Judo-Turniersoftware</title>
  <link rel="stylesheet" href="/css/interface.css">
  <link rel="stylesheet" href="/css/mainstyle.css">
  <style type="text/css">
    @page {
      size: A4 landscape;
      margin: 20mm 15mm 20mm 15mm;
      
      @bottom-right-corner {
        content: "Seite " counter(page);
      }
    }

    tr {
      vertical-align: middle;
    }
</style>
<body>
  <script src="/js/paged.polyfill.min.js"></script>
  <div>
    <div class="bodyheader no-print">
    </div>
    <div class="content">
      {{#each matten}}
        <div class="wettkampfgruppe horizontal">
          <div class="listeneintrag-titel">Matte {{id}}</div>

          {{#each gruppenRunden}}
            <div class="table">
              {{#each runde as |runden rundenindex|}}
                {{#each begegnungen}}
                  <div class="table-row">
                    {{#if (istGleich wettkaempfer1.name null)}}
                      <div class="gruppentitel_2">
                        Pause<br>
                        (Ansonsten wäre nun Gruppe {{runden.gruppe.name}} an der Reihe)
                      </div>
                    {{else}}
                      <div class="table-cell column1">
                        {{#if (istGleich @rundenindex 0)}}
                          <div class="gruppentitel_2">
                            Gruppe {{runden.gruppe.name}}, Runde {{runden.gruppenRunde}} (Wettkampf Nr. {{runden.mattenRunde}} insgesamt)
                          </div>
                        {{/if}}
                      </div>
                    
                      <div class="table-cell columnName wettkaempfer_name {{wettkaempfer1.farbe.get}}">{{wettkaempfer1.name}}</div><div class="table-cell columnVerein">({{wettkaempfer1.verein.name}})</div>
                      <div class="table-cell columnVS">vs</div> 
                      <div class="table-cell columnName wettkaempfer_name {{wettkaempfer2.farbe.get}}">{{wettkaempfer2.name}}</div><div class="table-cell columnVerein">({{wettkaempfer2.verein.name}})</div>
                    {{/if}}
                  </div>
                {{/each}}
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>

</body>

</html>