<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
  {{> title }}
  {{> nav }}

  <div>
    <div class="bodyheader">
      <h2>Neuer Wettkämpfer</h2>
    </div>
  </div>

  {{#if prevsuccess}}
    <div class="infomsg">Der vorheriger Wettkämpfer wurde erfolgreich angelegt. Kennung {{prevsuccess}}</div>
  {{/if}}
  {{#if preverror}}
    <div class="errormsg">Der vorheriger Wettkämpfer konnte nicht angelegt werden: {{preverror}}</div>
  {{/if}}

  <div class="generalcontent">
    <form action="/wettkaempfer" method="POST">
      <input type="hidden" name="id" value="{{kaempfer.id}}"/>
      
      <div class="wettkaempfer name"><label>Name, Vorname</label><input class="wd300" autofocus type="string" name="name" value="{{kaempfer.name}}"/></div>

      <div class="wettkaempfer verein">
      <label>Verein</label>
      <select class="wd300" mode="config[mode]" name="vereinsid">
      {{#each vereine}}
        <option value="{{id}}" {{setSelected ../kaempfer.verein.id id}}/>{{name}}</option>
      {{/each}}
      </select>
      </div>

      <div class="wettkaempfer alter">
      <label>Altersklasse</label>
      {{#each altersklasse as |name index|}}
        <input type="radio" name="altersklasse" value="{{index}}" {{setChecked ../kaempfer.altersklasse name}}/>{{name}}
      {{/each}}
      </div>

      <div class="wettkaempfer geschlecht">
      <label>Geschlecht</label>
      {{#each geschlechter as |name index|}}
        <input type="radio" name="geschlecht" value="{{index}}" {{setChecked ../kaempfer.geschlecht name}}/>{{name}}
      {{/each}}
      </div>

      <div class="wettkaempfer gewicht"><label>Gewicht</label><input class="wd100" type="number" step="0.1" name="gewicht" value="{{kaempfer.gewicht}}"/></div>
      <div class="wettkaempfer checked"><label>geprüft</label><input class="wd100" type="checkbox" name="checked" value={{kaempfer.checked}} {{setChecked true kaempfer.checked}}/></div>
      <div class="wettkaempfer printed"><label>gedruckt</label><input class="wd100" type="checkbox" name="printed" value={{kaempfer.checked}} {{setChecked true kaempfer.printed}}/></div>


      <button type="submit"><span class="material-icons md-48" title="Wettkämpfer eintragen">person_add</span></button>
    </form>
  </div>

  {{> footer}}
</body>
<script type="text/javascript">
  
</script>

</html>